*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
/* width */
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
  
/* Track */
  ::-webkit-scrollbar-track {
    background: white; 
}
   
/* Handle */
  ::-webkit-scrollbar-thumb {
    background: #878E9B; 
}
  
/* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2F3238; 
}

/* TEXT */
h1{
    font-size: 30px;
    font-weight: normal;
    color: white;
}
h2{
    font-weight: normal;
    margin-top: 50px;
}
h3{
    font-size: 15px;
    margin-top: 20px;
    color: #456DCB;
}
a{
    text-decoration: none;
    color: #456DCB;
}
a:visited{
    color: #456DCB;
}
p{
    font-size: 15px;
    text-align: left;
    word-break: break-word;
    word-wrap: break-word;
    margin: 10px 0px;
}
br{
    display: block;
    content: "";
    height: 20px;
}
span.bold{
    font-weight: bold;
}
/* TEXT */

body{
    color: #878E9B;
    background: #131517;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
    perspective: 1px;
    overflow-y: auto;
}
html{
    overflow: hidden;
}
.parallax{
    position: absolute;
    min-width: 1200px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transform-style: preserve-3d;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: hidden;
}
.background-img{
    width: 100%;
    height: 100vh;
    transform: translateZ(-1px) scale(2.1);
    top: 0px;
    left: 0px;
    z-index: -1;
}
.background-img .bg{
    filter: blur(15px);
    width: 100%;
    height: 100%;
    animation: slide 60s infinite;
}
@keyframes slide{
    0%{
        background: url(img/MV5BZDFlZDk5NGQtYjUyYy00MzJlLWE1ZDktMjI4NGQ4NDJjNmM0XkEyXkFqcGdeQXVyODA5NDU5NTM@._V1_.jpg) no-repeat center center;
        background-size: cover;
    }
    25%{
        background: url(img/MV5BZDFlZDk5NGQtYjUyYy00MzJlLWE1ZDktMjI4NGQ4NDJjNmM0XkEyXkFqcGdeQXVyODA5NDU5NTM@._V1_.jpg) no-repeat center center;
        background-size: cover;
    }
    30%{
        background: url(img/psycho-pass.jpg) no-repeat center center;
        background-size: cover;
    }
    50%{
        background: url(img/psycho-pass.jpg) no-repeat center center;
        background-size: cover;
    }
    55%{
        background: url(img/HorribleSubs-PSYCHO-PASS-01-720p.mkv_snapshot_11.55_2012.10.11_22.04.32.jpg) no-repeat center center;
        background-size: cover;
    }
    75%{
        background: url(img/HorribleSubs-PSYCHO-PASS-01-720p.mkv_snapshot_11.55_2012.10.11_22.04.32.jpg) no-repeat center center;
        background-size: cover;
    }
    80%{
        background: url(img/psycho-pass-the-movie-screenshot-02.png) no-repeat center center;
        background-size: cover;
    }
    95%{
        background: url(img/psycho-pass-the-movie-screenshot-02.png) no-repeat center center;
        background-size: cover;
    }
    100%{
        background: url(img/MV5BZDFlZDk5NGQtYjUyYy00MzJlLWE1ZDktMjI4NGQ4NDJjNmM0XkEyXkFqcGdeQXVyODA5NDU5NTM@._V1_.jpg) no-repeat center center;
        background-size: cover;
    }
}
.background-color{
    position: absolute;
    background: linear-gradient(180deg, #2F3238 0%, rgba(19, 21, 23,.7) 30%, #131517 80%) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}
div.container1{
    margin: auto;
    width: 95%;
    min-width: 1200px;
}
div.container2{
    margin: auto;
    width: 90%;
    min-width: 1000px;
    display: flex;
    justify-content: center;
}
img.logo{
    margin-top: 2px;
    height: 20px;
}
div.nav{
    padding: 20px;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
div.nav-left{
    min-width: 850px;
    display: flex;
    justify-content: space-between;
}
ul{
    display: block;
    list-style-type: none;
    min-width: 690px;
}
li{
    display: inline;
    margin:0px 20px;
}
.nav a{
    text-decoration: none;
    color: #878E9B;
    padding: 5px 3px;
}
.nav a:hover,.nav a.current{
    color: white;
}
div.nav-right{
    display: flex;
    justify-content: flex-end;
    flex:auto;
}
input{
    min-width: 300px;
    width: 70%;
    height: 30px;
    background: #1F2226;
    border: none;
    border-radius: 100px;
    color: white;
    padding-left: 5%;
    outline: none;
    
}
input:focus{
    border:1px solid #456DCB;
}
div.stats{
    margin: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.stats-right{
    display: flex;
    justify-content: space-between;
    min-width: 700px;
    width: 70%;
    margin: 0px 20px;
}
div.stats-left{
    margin: 0px 20px;
}
span.members{
    color: #878E9B;
}

/* SCORE */
div.score-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    
}
div.score{
    text-align: center;
    background: #456DCB;
    color: #1F2226;
    width:90px;
}
span.score-font{
    font-size: 50px;
    font-weight: normal;
    color: white;
    line-height: 60px;
}
.score-box p{
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
}
.score p{
    margin: 0px;
    text-align: center;
}

/* SCORE */

div.info{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    width: 200px;
}
.poster img{
    width: 200px;
    border:1px solid #878E9B;
    box-shadow: 2px 5px 10px -5px black;
}
div.title{
    padding-bottom: 10px;
    border-bottom: 1px solid #878E9B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a.plus{
    padding: 1px;
    margin-top: 15px;
    margin-right: 20px;
}
a.plus img{
    height: 15px;
}

div.table{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
table.va td p{
    text-align: right;
}
table, tr, td{
    border: none;
    outline: none;
}
div.img-ch, div.img-va{
    width: 40px;
    height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #707070;
    margin: 13px 0px;
    background: #2F3238;
}
div.img-ch::after, div.img-va::after{
    position: absolute;
    content: "?";
    font-size: 30px;
}
div.img-ch img, div.img-va img{
    height: 105%;
}
td p{
    padding: 0px 15px;
    margin: 0px;
}